inspectionsApp/src/assets/images/ExternalAccountManagementService_v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/SPO/PartnerMgmt/ExternalAccountManagementService_2"
                  xmlns:extacctmgmt="http://xmlschema.tmi.telus.com/srv/SPO/PartnerMgmt/ExternalAccountManagementRequestResponse_v2"
                  name="ExternalAccountManagementService_v2_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/SPO/PartnerMgmt/ExternalAccountManagementService_2"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Gets the subscriber and the subscriber account related information.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/SPO/PartnerMgmt/ExternalAccountManagementService_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/SPO/PartnerMgmt/ExternalAccountManagementRequestResponse_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/SPO/PartnerMgmt/ExternalAccountManagementRequestResponse_v2_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v2_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getAccountByPhoneNumber">
      <wsdl:part name="parameters" element="extacctmgmt:getAccountByPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="getAccountByPhoneNumberResponse">
      <wsdl:part name="result" element="extacctmgmt:getAccountByPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberActivityReasonCode">
      <wsdl:part name="parameters" element="extacctmgmt:getSubscriberActivityReasonCode"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberActivityReasonCodeResponse">
      <wsdl:part name="result" element="extacctmgmt:getSubscriberActivityReasonCodeResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="ExternalAccountManagementService_v2_0_PortType">
      <wsdl:operation name="getAccountByPhoneNumber">
         <wsdl:input message="iface:getAccountByPhoneNumber"/>
         <wsdl:output message="iface:getAccountByPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberActivityReasonCode">
         <wsdl:input message="iface:getSubscriberActivityReasonCode"/>
         <wsdl:output message="iface:getSubscriberActivityReasonCodeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ExternalAccountManagementService_v2_0_SOAP"
                 type="iface:ExternalAccountManagementService_v2_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getAccountByPhoneNumber">
         <wsdl:documentation>Gets the subscriber account related information like account type, account sub type and description.</wsdl:documentation>
         <soap:operation soapAction="getAccountByPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberActivityReasonCode">
         <wsdl:documentation>Gets the wireless subscriber activity code for Cancellation, suspension, resume from suspension and resume from cancel(within 90 days) and the associated activity reason code</wsdl:documentation>
         <soap:operation soapAction="getSubscriberActivityReasonCode"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ExternalAccountManagementService_v2_0">
      <wsdl:port name="ExternalAccountManagementServicePort"
                 binding="iface:ExternalAccountManagementService_v2_0_SOAP">
         <soap:address location="http://resourcemanagementesb-dv103.tmi.telus.com/SPO/PartnerMgmt/ExternalAccountManagementService_v2_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>